.btn{
    border-radius: 20px;
    width: 160px;
    background-color: rgb(224, 218, 218);
}

.buttonClicked{
    background-color: #0275d8;
    color: white;
}

button:hover{
    background-color: #619fd4;
    color: white;
}
