<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <h1>Your goals</h1>
<!-- Card-1 -->
<div class="row">
    <div class="column">
    <mat-card class="mCard" style="background-color: #FFFFFF;">
    <mat-card-header></mat-card-header>
    <img mat-card-image src="assets\goal1.png">
    <mat-card-content>
        <mat-card-title style="font-size: 25px;">Pay Off Student loan </mat-card-title>
        <table style="width: 400px;">
            <tr>
                <td>
                    <mat-card-title style="font-size: 25px;"><span style="color:blue;">$5k</span><span>/$50K</span></mat-card-title>
                    <mat-card-title style="font-size: 15px;">amount saved of goal</mat-card-title><br>
                    <mat-card-title style="font-size: 25px;">$300</mat-card-title>
                    <mat-card-title style="font-size: 15px;">monthly</mat-card-title>
                </td>
                <td colspan="4">
                    <canvas id="doughnut" width="200" height="100"></canvas> 
                </td>
            </tr>
        </table>
    </mat-card-content>   
</mat-card> 
</div>
<!--card-2 ------------------------------- -->

<div class="column"><mat-card class="mCard" style="background-color: #FFFFFF;">
    <mat-card-header></mat-card-header>
    <img mat-card-image src="assets\goal2.png">
    <mat-card-content>
        <mat-card-title style="font-size: 25px;">Save for retirement </mat-card-title>
        <table style="width: 390px;">
            <tr>
                <td>
                    <mat-card-title style="font-size: 25px;"><span style="color:blue;">$132K</span><span>/$900K</span></mat-card-title>
                    <mat-card-title style="font-size: 15px;">amount saved of goal</mat-card-title><br>
                    <mat-card-title style="font-size: 25px;">$3.2k</mat-card-title>
                    <mat-card-title style="font-size: 15px;">monthly</mat-card-title>
                </td>
                <td colspan="4">
                    <canvas id="doughnutChart" width="200" height="100"></canvas> 
                </td>
            </tr>
        </table>
    </mat-card-content>   
</mat-card> 
</div>

<!-- Card-3-------------------- -->
<div class="column">
<mat-card class="mCard" style="background-color: #FFFFFF; border-style: dashed;border-color:rgb(214, 214, 214) ;">
    <mat-card-header>  
        <div class="center"><button style="margin:15px;">
            <span></span><span></span>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <h2 class="center" style="color:rgb(214, 214, 214) ;text-align: center;">Add a new <br>
            Personal life goals
        </h2>
    </mat-card-content> 
</mat-card>
</div>
</div>

<!-- ---------------Below data------------- -->
<style>
  tr {
  padding: 30px;
}
  td{
      padding: 10px;
  }

  h4{
      padding: 10px;
  }
</style>

<table>
    <tr>
        <th style="padding-left: 10px;"><h4>We recommend:</h4></th>
        <th style="padding-left: 110px;"><h4>We recommend:</h4></th>

    </tr>

    <tr style="width: 30;">
        <td><span style="color:blue;"><i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i> &nbsp;</span><span style="color:blue;font-size:20px">Continue saving when you can</span><br>
            <br><h5>Lorem ipsum dotor sit amer,<br>
                consectetur adipiscing edit,sed do<br>
                eiusmod tempor</h5>
        </td>
        
        <td style="padding-left: 120px;"><br/><span style="color:green;"><i class="fa fa-chevron-circle-up fa-lg" aria-hidden="true"></i></span>&nbsp;<span style="color:green;font-size:20px">Increase monthly contributions<br>
            to your 401(k)</span><br><br>
        <h5>Lorem ipsum dotor sit amer,<br>
            consectetur adipiscing edit,sed do<br>
            eiusmod tempor</h5>
        </td>
    </tr>

    <tr>
        <td><span style="color:red;"><i class="fa fa-chevron-circle-down fa-lg" aria-hidden="true"></i></span>&nbsp;<span style="color:red;font-size:20px">Decrease contributions to your
            <br>IRA for now   </span><br>
            <br><h5>Lorem ipsum dotor sit amer,<br>
                consectetur adipiscing edit,sed do<br>
                eiusmod tempor</h5>

        </td>
    </tr>
</table>
        </div>
    </div>
</div>















  
 
      
   
       
     
     







    

