<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br/>
            <h3 class="p-2" style="font-size: 17px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to your personalized benefit dashboard, Anna</h3>
            <h1>&nbsp;&nbsp;&nbsp;Dashboard</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <mat-card class="mCard" style="background-color: #F7F7F7;">
                <mat-card-header>
                    <table style="width: 450px;">
                        <tr>
                            <th>
                                <mat-card-title style="font-size: 30px;">Benefits Overview</mat-card-title>
                            </th>
                            <th class="p-3">
                                <br>
                                <mat-card-subtitle><a href="#">Edit</a></mat-card-subtitle>
                            </th>
                        </tr>
                    </table>  
                </mat-card-header>
                
                <mat-card-content> 
                    <canvas id="myChart" width="470" height="300"></canvas>
                </mat-card-content>
                
            </mat-card>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-card class="mCard" style="background-color: #F7F7F7;">
                <mat-card-header>
                    <table style="width: 450px;">
                        <tr>
                            <th>
                                <mat-card-title style="font-size: 30px;">Contributions Overiew</mat-card-title>
                            </th>
                            <th class="p-3">
                                <br>
                                <mat-card-subtitle><a href="#">Edit</a></mat-card-subtitle>
                            </th>
                        </tr>
                    </table>  
                </mat-card-header>
                <mat-card-content class="p-3">
                    <mat-card-title style="font-size: 15px;"><b>TOTAL BALANCE</b></mat-card-title>
                    <mat-card-subtitle style="font-size: 25px;"><b>$0</b></mat-card-subtitle>
                    <table>
                        <tr>
                            <th><mat-card-title style="font-size: 15px;"><b>TOTAL PRUDENTIAL ASSETS</b></mat-card-title></th>
                            
                            <th><mat-card-title style="font-size: 15px;" class="p-2"><b>CONNECTED ACCOUNTS BALANCE</b></mat-card-title></th>
                        </tr>
                        <tr>
                            <td><mat-card-subtitle style="font-size: 25px;"><b>$0</b></mat-card-subtitle><br></td>
                            
                            <td><mat-card-subtitle style="font-size: 25px;" class="p-2"><b>$0</b></mat-card-subtitle><br></td>
                        </tr>
                        <tr>
                            <th><mat-card-title style="font-size: 15px;"><b>TOTAL YEARLY CONTRIBUTION</b></mat-card-title></th>
                            
                            <th><mat-card-title style="font-size: 15px;" class="p-2"><b>RISK ATTITUDE</b></mat-card-title></th>
                        </tr>
                        <tr>
                            <td><mat-card-subtitle style="font-size: 25px;"><b>$0</b></mat-card-subtitle><br></td>
                            
                            <td><mat-card-subtitle style="font-size: 25px;" class="p-2"><b>Moderate</b></mat-card-subtitle><br></td>
                        </tr>
             
                    </table><br>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>