<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br/>
      <h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your goals</h6>
      <h1>&nbsp;&nbsp;&nbsp;Pay off student loan</h1>
      <div class="row">
          <div class="column">
             <mat-card class="mCard" style="background-color: #F7F7F7;">
                <mat-card-header>
                    <div>
                      <h2>Goal progress</h2><br>
                      <mat-card-title style="font-size: 35px; padding-left: 25px;"><canvas id="myChart" width="200" height="200"></canvas>  </mat-card-title>
                    </div>
                </mat-card-header><br/>
      
              <table >
                  <tr>
                      <td>
                        <mat-card-title style="font-size: 25px; padding: 0px;"><span style="color:blue;">$5k</span><span>/$50K</span></mat-card-title>
                      </td>
                      <td>
                        <mat-card-title style="font-size: 25px; padding-left: 110px;">$300</mat-card-title>
                      </td>
                  </tr>
                  <tr>
                      <td> 
                          <mat-card-title style="font-size: 15px;">amount saved of goal</mat-card-title>
                      </td>
                      <td>
                          <mat-card-title style="font-size: 15px; padding-left: 110px;">monthly</mat-card-title>
                      </td>
                  </tr>
              </table> 
          </mat-card>
          </div>
          <div class="column">
              <mat-card class="mCard1" style="background-color: #F7F7F7;">
                  <mat-card-header>
                      <div><h2>Goal trajectory</h2><br>
                      <mat-card-title style="font-size: 25px;"><div style="display: block;">
                          <canvas id="lineChart" width = "500px" height = "200px"></canvas>
                        </div>
                      </mat-card-title><br/>
                      <div class="row">
                        <div class="col-md-3">
                          <button class="btn btn-success" style="font-size: 15px;">Well-funded</button>
                        </div>
                        <div class="col-md-9">
                          <h6>Lorem ipsum dotor sit amer, consectetur adipiscing edit,sed do eiusmod tempor Lorem ipsum dotor sit amer, consectetur adipiscing edit,sed do eiusmod tempor</h6>
                        </div>
                      </div>
                      </div>
                  </mat-card-header><br></mat-card>
                  </div>
       </div>
      
               <table >
                <tr>
                    <th style="font-size: 22px;padding: 30px;">We recommend:</th>
       
                </tr>
             
                <tr style="width: 30;">
                    <td style="padding-left: 40px;"><span style="color:blue;"><i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i> &nbsp;</span><span style="color:blue;font-size:20px">Continue saving when you can</span><br><br>
                        <h5>Lorem ipsum dotor sit amer,<br>
                            consectetur adipiscing edit,sed do<br>
                            eiusmod tempor</h5>
                    </td>
             
                    <td style="padding-left: 100px;"><span style="color:red;"><i class="fa fa-chevron-circle-down fa-lg" aria-hidden="true"></i> &nbsp;</span><span style="color:red;font-size:20px">Decrease contributions to your
                      IRA for now   </span><br><br>
                      <h5>Lorem ipsum dotor sit amer,<br>
                          consectetur adipiscing edit,sed do<br>
                          eiusmod tempor</h5>
           
                  </td>
                </tr>
             
            </table>
            <br/><br/>
    </div>
  </div>
</div>